@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Raleway:wght@300&family=Yeon+Sung&display=swap');

.DiaryEditor {
}

.DiaryEditor seciton {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor textarea {
  font-family: 'Nuosu SIL', serif;
  font-size: 20px;

  box-sizing: border-box;
  min-height: 200px;
  resize: vertical;
  width: 100%;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 20px;
}

.controlBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputDate {
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Nuosu SIL', serif;
  font-size: 20px;
}

.emotionListWrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}
