@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Raleway:wght@300&family=Yeon+Sung&display=swap');

body {
  margin: 0;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Yeon Sung', cursive;
}

@media (min-width: 1000px) {
  .App {
    width: 70vw;
  }
}

@media (max-width: 1000px) {
  .App {
    width: 70vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  background-color: #ececec;
  /* height: 100vh; */
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}
